<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    <body>

        <nav th:replace="/fragments/navbar :: nav"></nav>



        <header data-bs-theme="dark">

        </header>

        <main>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">EGG Noticias, los mejores chismes los encontras unicamente aca</h1>
                        <p class="lead text-body-secondary">Si estas buscando saber que es lo que ocurre en el mundo, en tu pais, tu ciudad, rayos!! incluso en tu barrio. Somos la mejor opcion que dispones</p>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-body-tertiary"  >
                <div class="container" >    
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col" th:each="noticia : ${noticias}">
                            <div class="card shadow-sm" >
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" th:text="${noticia.titulo}"></text></svg>
                                <div class="card-body" >
                                    <p class="card-text contenedor" th:text="${noticia.cuerpo}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                                    ><a th:href="@{/noticia/new/__${noticia.id}__}">Ver Noticia completa</a></button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                                <a>Edit</a></button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <footer class="text-body-secondary py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
                <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.3/getting-started/introduction/">getting started guide</a>.</p>
            </div>
        </footer>
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



    </body>
</html>

