<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmnls:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head"></head>
    
    <body class=" h-100 text-center text-bg-dark">
        <nav th:replace="/fragments/navbar :: nav"></nav>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
         th:action="@{/noticia/new/__${noticia.id}__}" method="POST">
        
        <main class="px-3">
            <h1 th:text="${noticia.titulo}" name="titulo"></h1>
            <p class="lead" th:text="${noticia.cuerpo}" name="cuerpo"></p>
            <button type="button" class="btn btn-sm btn-outline-secondary"
             ><a th:href="@{/}">Volver</a></button>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div>
        
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



</body>
</html>
