<nav class="navbar bg-dark border-bottom navbar-expand-lg border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">EGG NEWS</a>
        <div class="navbar-brand" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active me-2" aria-current="page" th:href="@{/noticia/registrar}">Cargar Noticia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/user/registrar}">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Ingresar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>